@use "../abstracts/" as *;

.fxd-column {
  flex-direction: column;
}

.jc-between {
  justify-content: space-between;
}

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.no-shrink {
  flex-shrink: 0;
}

@each $size-key, $size-value in $sizes {
  .gap-#{$size-key} {
    gap: $size-value;
  }
  .y-gap-#{$size-key} {
    row-gap: $size-value;
  }
  .x-gap-#{$size-key} {
    column-gap: $size-value;
  }
}
