@use "../abstracts/" as *;

.heading {
  &-1 {
    font-size: fz("800");
    color: clr(neutral, "100");

    & :last-child {
      display: block;
      text-align: right;
      font-size: fz("900");
      color: clr(accent, "400");
    }
  }
}
