@use "../abstracts/" as *;

.heading {
  &-1 {
    font-size: fz("800");
    color: clr(neutral, "100");
  }

  &-2 {
    font-size: fz("800");

    &[data-where="my projects"] {
      margin-inline-start: 34.375rem;
    }
  }
}
