@use "../abstracts/" as *;

.section {
  padding-block: sz("160");

  &[data-where="title"] {
    padding-block: sz("72");
  }

  &[data-where="introduction"] {
    background-image: url("/assets/images/Rectangle\ 7.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &[data-where="about"] {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :first-child {
      flex-basis: 39.75rem;
      display: flex;
      flex-wrap: wrap;
      gap: sz("24");

      & > * {
        flex-basis: 19.125rem;
      }
    }

    & > :last-child {
      flex-basis: 32.875rem;
    }
  }

  &[data-where="contact"] {
    padding-block: sz("96");
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :last-child {
      --gap-size: #{sz("20")};
      flex-basis: 32.875rem;
    }
  }
}
