@use "../abstracts/" as *;

body {
  line-height: 1.5;
  font-family: $ff-sans;
}

a {
  text-decoration: none;
  color: clr(neutral, "300");

  &:hover {
    color: clr(accent, "400");
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
