$default: (
  neutral: (
    000: hsl(0, 0%, 100%),
    900: hsl(0, 0%, 0%)
  ),
  green: (
    400: hsl(158, 100%, 50%)
  ),
  purple: (
    400: hsl(238, 100%, 78%)
  ),
  linear: (
    400: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%)
  )
);
